---
layout: default
title: "People"
description: "CCISEL engineers"
---

<div class="team-section" id="team">
    <div class="container text-center">
        <!-- 
        <h2 class="section-title">Our Team</h2>
        <div class="story">
            <p>Introduce your team here.</p>
        </div>
        -->
        <div class="members-wrapper row">
            {% include team/palex.html %}
            {% include team/miguel.html %}
            {% include team/felix.html %}
        </div><!--//members-wrapper-->
        <br>
        <div class="members-wrapper row">
            {% include team/sousa.html %}
            {% include team/palbp.html %}
            {% include team/patriarca.html %}
        </div><!--//members-wrapper-->
		<br>
        <div class="members-wrapper row">
            {% include team/nleite.html %}
            {% include team/jtrindade.html %}
        </div><!--//members-wrapper-->
    </div>
</div><!--//team-section-->
<br>
<br>
<br>
<div class="text-center">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>
</div>
