---
layout: default
title: "People"
description: "CCISEL engineers"
---

<section class="team-header page-header over-curve py-4 py-md-5">
    <div class="container text-center">	
        <div class="single-col-max mx-auto">
            <h1 class="page-headline mb-3">Who we are</h1>
        </div><!--//single-col-max-->
        <section class="team-section py-5 z-index-10 position-relative">
            <div class="row">
                {% include team/palex.html %}
                {% include team/miguel.html %}
                {% include team/felix.html %}
                {% include team/martins.html %}
                {% include team/sousa.html %}
                {% include team/jorge.html %}
                {% include team/carrasqueira.html %}
                {% include team/palbp.html %}
                {% include team/patriarca.html %}
                {% include team/nleite.html %}
                {% include team/ffreitas.html %}
                {% include team/jtrindade.html %}
            </div><!--//members-wrapper-->
        </section>
    </div>
</div><!--//team-section-->