<!-- Footer -->
<footer class="mastfoot mt-auto">
    <div class="container text-center">
        <ul class="social-list list-unstyled pt-4 mb-0">
            <li class="list-inline-item"><a href="https://twitter.com/CCISEL"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/CCISEL/"><i class="fab fa-facebook-f fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/ccisel"><i class="fab fa-linkedin-in"></i></a></li>
        </ul><!--//social-list-->
    </div>
    <div class="copyright text-muted text-center">
        <small>
            Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
            <br>
        </small>
    </div>
</footer>
