<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ site.url }}/img/CCsimb-254x300.png">

    <title>CCISEL</title>

	<!-- Prism.css for syntax highlight -->
	<link href="{{ site.url }}/css/prism.css" rel="stylesheet" />

    
    <!-- Custom styles for this template -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- FontAwesome JS -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ site.url }}/css/styles.css">
    <link href="{{ site.url }}/css/main.css" rel="stylesheet">

</head>

