<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ site.url }}/images/ccisel.png">

    <title>CCISEL</title>

	<!-- Prism.css for syntax highlight -->
	<link href="{{ site.url }}/css/prism.css" rel="stylesheet" />

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ site.url }}/css/tiny-slider.css">
    <link rel="stylesheet" href="{{ site.url }}/css/webfont.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ site.url }}/css/theme.css">

</head>

