---
layout: default
---

<section class="page-header over-curve py-4 py-md-5">
    <div class="blog-post-content">
        <div class="container">
            <div class="single-col-max mx-auto">
            <div class="contact-card-box p-5 shadow rounded mb-4 h-100">
                <h3 class="py-3">{{ page.title }}</h3>
                <div class="post-meta text-center mb-4">
                    <span class="post-time">{{ page.date | date: "%B %-d, %Y" }}</span>
                    <span class="px-2">|</span>
                    <span class="post-author"><a href="#">{{ page.author.display_name }}</a></span>
                </div><!--//post-meta-->
                <p>
                    {{ content }}
                </p>
            </div>
            </div>
        </div>
    </div>
</section>