<div class="item col-md-4 col-12">
    <div class="item-inner">
        <div class="profile mb-2">
            <img class="profile-image" src="{{ site.url }}/assets/team/felix.jpg" alt="Pedro Félix" />
        </div>   
        <div class="member-content">
            <h3 class="member-name"><small>Pedro Félix</small></h3>
            <div class="member-title"><small>Software Developer</small></div>
            <ul class="social list-inline">
                <li class="list-inline-item"><a class="medium" href="https://labs.pedrofelix.org/" target="_blank"><i class="fas fa-globe"></i></a></li>
                <li class="list-inline-item"><a class="twitter" href="https://twitter.com/pmhsfelix" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="github" href="https://github.com/pmhsfelix" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
        </div><!--//member-content-->
    </div><!--//item-inner-->
</div><!--//item-->