<div class="col-12 col-lg-4 pt-5 mb-5">
    <div class="member shadow text-center rounded">
        <div class="member-profile">
            <img class="rounded-circle shadow-sm"  src="{{ site.url }}/assets/team/felix.jpg" alt="Pedro Félix" />
        </div><!--//member-profile-->
        <div class="member-info p-4 p-lg-5">
            <div class="member-name">Pedro Félix</div>
            <div class="member-title mb-3">Software Developer</div>
            <br>
            <ul class="social-list list-unstyled mb-2">
                <li class="list-inline-item"><a class="medium" href="https://labs.pedrofelix.org/" target="_blank"><i class="fas fa-globe"></i></a></li>
                <li class="list-inline-item"><a class="twitter" href="https://twitter.com/pmhsfelix" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="github" href="https://github.com/pmhsfelix" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul><!--//social-list-->
        </div><!--//member-info-->
    </div><!--//member-profile-->
</div><!--//col-->