<div class="item col-md-4 col-12">
    <div class="item-inner">
        <div class="profile mb-2">
            <img class="profile-image" src="{{ site.url }}/assets/team/jtrindade.png" alt="João Trindade" />
        </div>   
        <div class="member-content">
            <h3 class="member-name"><small>João Trindade</small></h3>
            <div class="member-title"><small>Software Engineer</small></div>
            <ul class="social list-inline">
				<li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/jhtrindade/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a class="github" href="https://github.com/jtrindade" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
        </div><!--//member-content-->
    </div><!--//item-inner-->
</div><!--//item-->
