<div class="col-12 col-lg-4 pt-5 mb-5">
    <div class="member shadow text-center rounded">
        <div class="member-profile">
            <img class="rounded-circle shadow-sm" src="{{ site.url }}/assets/team/martins.jpg" alt="Carlos Martins" />
        </div><!--//member-profile-->
        <div class="member-info p-4 p-lg-5">
            <div class="member-name">Carlos Martins</div>
            <div class="member-title">Computer Engineer</div>
            <br>
            <ul class="social-list list-unstyled mb-2">
                <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/carlos-martins-516600b" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul><!--//social-list-->
        </div><!--//member-info-->
    </div><!--//member-profile-->
</div><!--//col-->