<div class="item col-md-4 col-12">
    <div class="item-inner">
        <div class="profile mb-2">
            <img class="profile-image" src="{{ site.url }}/assets/team/miguel.jpg" alt="Miguel Gamboa" />
        </div>   
        <div class="member-content">
            <h3 class="member-name"><small>Miguel Gamboa</small></h3>
            <div class="member-title"><small>Vice President<br>Software Developer</small></div>
            <ul class="social list-inline">
                <li class="list-inline-item"><a class="medium" href="https://gamboa.pt/" target="_blank"><i class="fas fa-globe"></i></a></li>
                <li class="list-inline-item"><a class="twitter" href="https://twitter.com/gamboacarvalho" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="github" href="https://github.com/fmcarvalho" target="_blank"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item"><a class="stackoverflow" href="https://stackoverflow.com/users/1140754/miguel-gamboa" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
                <li class="list-inline-item"><a class="google" href="https://scholar.google.com/citations?hl=en&user=HldfYegAAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i></a></li>
            </ul>
        </div><!--//member-content-->
    </div><!--//item-inner-->
</div><!--//item-->