<div class="col-12 col-lg-4 pt-5 mb-5">
    <div class="member shadow text-center rounded">
        <div class="member-profile">
            <img class="rounded-circle shadow-sm" src="{{ site.url }}/assets/team/nunoleite.jpg" alt="Nuno Leite" />
        </div><!--//member-profile-->
        <div class="member-info p-4 p-lg-5">
            <div class="member-name">Nuno Leite</div>
            <div class="member-title">Computer Engineer</div>
            <br>
            <ul class="social-list list-unstyled mb-2">
                <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/nuno-leite-62a96532/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a class="medium" href="https://nleite-isel.github.io/" target="_blank"><i class="fas fa-globe"></i></a></li>
                <li class="list-inline-item"><a class="github" href="https://github.com/nunocsleite" target="_blank"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item"><a class="stackoverflow" href="https://stackoverflow.com/users/4647357/nuno-leite" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
                <li class="list-inline-item"><a class="google" href="https://scholar.google.com/citations?user=F7DcukwAAAAJ&hl=pt-BR" target="_blank"><i class="fas fa-graduation-cap"></i></a></li>
                
            </ul><!--//social-list-->
        </div><!--//member-info-->
    </div><!--//member-profile-->
</div><!--//col-->