<div class="col-12 col-lg-4 pt-5 mb-5">
    <div class="member shadow text-center rounded">
        <div class="member-profile">
            <img class="rounded-circle shadow-sm" src="{{ site.url }}/assets/team/palbp.jpg" alt="Paulo Pereira" />
        </div><!--//member-profile-->
        <div class="member-info p-4 p-lg-5">
            <div class="member-name">Paulo Pereira</div>
            <div class="member-title">Software Engineer</div>
            <br>
            <ul class="social-list list-unstyled mb-2">
                <li class="list-inline-item"><a class="github" href="https://github.com/palbp" target="_blank"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/palbp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a class="twitter" href="https://twitter.com/palbp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="twitch" href="https://www.twitch.tv/paulo_pereira" target="_blank"><i class="fab fa-twitch"></i></a></li>
                <li class="list-inline-item"><a class="discord" href="https://discord.gg/dYgjGUG" target="_blank"><i class="fab fa-discord"></i></a></li>  
            </ul><!--//social-list-->
        </div><!--//member-info-->
    </div><!--//member-profile-->
</div><!--//col-->