<div class="item col-md-4 col-12">
    <div class="item-inner">
        <div class="profile mb-2">
            <img class="profile-image" src="{{ site.url }}/assets/team/palbp.jpg" alt="Paulo Pereira" />
        </div>
        
        <div class="member-content">
            <h3 class="member-name"><small>Paulo Pereira</small></h3>
            <div class="member-title"><small>Software Engineer</small></div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a class="github" href="https://github.com/palbp" target="_blank"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/palbp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item"><a class="twitter" href="https://twitter.com/palbp" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="twitch" href="https://www.twitch.tv/paulo_pereira" target="_blank"><i class="fab fa-twitch"></i></a></li>
              <li class="list-inline-item"><a class="discord" href="https://discord.gg/dYgjGUG" target="_blank"><i class="fab fa-discord"></i></a></li>
            </ul>
        </div><!--//member-content-->
    </div><!--//item-inner-->
</div><!--//item-->