<div class="item col-md-4 col-12">
    <div class="item-inner">
        <div class="profile mb-2">
            <img class="profile-image" src="{{ site.url }}/assets/team/palex.jpg" alt="Pedro Pereira" />
        </div>
        
        <div class="member-content">
            <h3 class="member-name"><small>Pedro Pereira</small></h3>
            <div class="member-title"><small>President<br>Computer Engineer</small></div>
            <ul class="social list-inline">
                <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/in/palexpereira/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div><!--//member-content-->
    </div><!--//item-inner-->
</div><!--//item-->